<div class="main-container">
  <section class="flex lg:col-span-2">
    <button mat-icon-button color="primary" [routerLink]="'/' + PATH.HOME">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <div>
      <h1 class="mb-2 text-3xl font-semibold text-primary-blue-10 lg:text-4xl">
        ¡Ya casi términamos!
      </h1>
      <p class="text-lg text-neutral-gray-40">
        Revisa la información, y completa lo solicitado.
      </p>
    </div>
  </section>

  <section>
    <app-trainer-card>
      <app-profile />
    </app-trainer-card>
  </section>

  <section class="relative mx-auto w-full max-w-sm sm:max-w-lg lg:-top-16">
    <h2 class="text-3xl text-primary-blue-00">Pokémon</h2>
    <p class="mb-4 text-neutral-gray-40">
      Selecciona 3 Pokémon para que sean parte de tu equipo
    </p>

    <app-pokemon-selector />
  </section>
</div>
