<input
  type="checkbox"
  class="hidden"
  [id]="pokemon.id"
  [name]="pokemon.id"
  [value]="pokemon.id"
  [checked]="checked"
  [disabled]="disabled && !checked"
  (change)="changeChecked.emit($event)"
/>
<label
  matRipple
  class="relative block cursor-pointer rounded-3xl p-3 pt-0"
  [for]="pokemon.id"
  [matTooltip]="pokemon.name | titlecase"
>
  <img
    width="100"
    height="100"
    class="m-auto mb-3"
    [alt]="pokemon.name"
    [ngSrc]="pokemon.sprite"
  />

  <p
    class="flex justify-between gap-x-1 rounded-lg bg-primary-blue-00 px-3 py-1 text-xs font-extrabold text-white"
  >
    <span>#{{ pokemon.id | number: '3.0' }}</span>
    <span class="truncate">
      {{ pokemon.name | titlecase }}
    </span>
  </p>
</label>
