<div class="flex flex-col items-center px-6 pb-7 pt-4 text-white">
  <div *ngIf="medal; else trainerName" class="mb-7 flex w-full justify-between">
    <h2 class="truncate text-2xl font-medium">Entrenador</h2>
    <img
      priority
      width="63"
      height="57"
      alt="Medal badge"
      ngSrc="assets/images/medal-badge.svg"
    />
  </div>
  <ng-template #trainerName>
    <h2
      class="lg:text-4x mb-7 w-full break-words text-center text-3xl font-bold"
    >
      {{ trainer.name | titlecase }}
    </h2>
  </ng-template>

  <app-avatar [src]="trainer.avatar" class="mb-12" />

  <p *ngIf="trainer.hobby" class="profile-field" matTooltip="Pasatiempo">
    <strong>Pasatiempo:</strong>
    <span>
      {{ trainer.hobby }}
    </span>
  </p>

  <p class="profile-field" matTooltip="Edad">
    <strong>Edad:</strong>
    <span>{{ age }} años</span>
  </p>

  <p
    *ngIf="trainer.document"
    class="profile-field"
    [matTooltip]="isAdult ? 'DUI' : 'Doc'"
  >
    <strong> {{ isAdult ? 'DUI' : 'Doc' }}: </strong>
    <span>
      {{ trainer.document | mask: (isAdult ? DOCUMENT_MASK : 'A*') }}
    </span>
  </p>
</div>
