<div
  class="grid justify-items-center gap-x-6 rounded-2xl bg-neutral-gray-10 p-6 pt-0 lg:grid-cols-3"
>
  <div class="relative z-10 flex w-full flex-col items-center">
    <img
      width="150"
      height="150"
      [ngSrc]="pokemon.sprite"
      [alt]="pokemon.name"
    />

    <span class="flex-grow"></span>

    <h3
      class="max-w-full truncate text-2xl font-bold"
      [matTooltip]="pokemon.name | titlecase"
    >
      {{ pokemon.name | titlecase }}
    </h3>
    <p
      class="max-w-full truncate text-lg"
      [matTooltip]="pokemon.type | pokemonTypeToSpanish"
    >
      {{ pokemon.type | pokemonTypeToSpanish }}
    </p>
  </div>

  <app-pokemon-stats
    class="w-full max-w-sm lg:col-span-2 lg:max-w-full"
    [pokemon]="pokemon"
  />
</div>
