<div class="app-container grid grid-cols-1 gap-y-10 py-16 lg:grid-cols-2">
  <section class="flex lg:col-span-2">
    <a mat-icon-button color="primary" routerLink="/home">
      <mat-icon>arrow_back_ios</mat-icon>
    </a>
    <div>
      <h1 class="mb-2 text-2xl text-primary-blue-10 lg:text-4xl">
        ¡Hola! Configuremos tu perfil
      </h1>
      <p class="text-neutral-gray-40">Queremos conocerte mejor.</p>
    </div>
  </section>

  <section>
    <app-trainer-card>
      <app-avatar-uploader />
    </app-trainer-card>
  </section>

  <section>
    <app-profile-form />
  </section>
</div>
