<form
  [formGroup]="profileForm"
  (ngSubmit)="submitProfile()"
  class="mx-auto flex max-w-sm flex-col items-center"
>
  <h2 class="w-full text-2xl text-primary-blue-00 lg:text-3xl">
    Tu información
  </h2>
  <p class="mb-8 w-full text-lg text-neutral-gray-40">
    Completa la siguiente información para completar tu perfil
  </p>

  <mat-form-field appearance="outline" class="mb-1 w-full">
    <mat-label>Nombre</mat-label>
    <input matInput appTrimOnBlur formControlName="name" />
    <mat-error />
  </mat-form-field>

  <mat-form-field appearance="outline" class="mb-1 w-full">
    <mat-label>Pasatiempo favorito</mat-label>
    <mat-chip-grid #chipGrid [formControl]="hobbyControl">
      <mat-chip-row
        *ngIf="hobbyControl.value.at(0) as hobby"
        (removed)="removeHobby()"
      >
        {{ hobby }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    </mat-chip-grid>
    <input
      matChipInputAddOnBlur
      [class]="hobbyControl.value.at(0) && '!hidden'"
      [formControl]="hobbyInputControl"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputFor]="chipGrid"
      [matAutocomplete]="auto"
      (matChipInputTokenEnd)="addHobby($event)"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      hideSingleSelectionIndicator
      (optionSelected)="selectedHobby($event)"
    >
      <mat-option
        *ngFor="let hobby of filteredHobbies$ | async"
        [value]="hobby"
      >
        {{ hobby }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field
    appearance="outline"
    (click)="picker.open()"
    class="mb-1 w-full cursor-pointer"
  >
    <mat-label>Cumpleaños</mat-label>
    <input
      readonly
      matInput
      formControlName="birthday"
      class="cursor-pointer"
      [max]="today"
      [matDatepicker]="picker"
      (focus)="picker.open()"
    />
    <mat-datepicker-toggle matIconSuffix [for]="picker">
      <mat-icon matDatepickerToggleIcon fontSet="material-icons-outlined">
        calendar_today
      </mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #picker />
    <mat-error />
  </mat-form-field>

  <mat-form-field appearance="outline" class="mb-1 w-full">
    <mat-label>{{
      (isAdult$ | async)
        ? 'Doc Identidad'
        : birthdayControl.valid
          ? 'Carnet de Minoridad'
          : 'Documento'
    }}</mat-label>
    <input
      matInput
      appTrimOnBlur
      formControlName="document"
      [mask]="(isAdult$ | async) ? DOCUMENT_MASK : ''"
    />
    <mat-error />
  </mat-form-field>

  <button
    mat-flat-button
    color="primary"
    class="mt-12 !px-16"
    type="submit"
    [disabled]="profileForm.invalid"
  >
    Continuar
  </button>
</form>
